auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
/ensime/
ido.last
*.desktop*
.recentf
/elpa
#*#
/server/n
local
/.mc-lists.el
/.#session.10f8d594093961fb3148013909391414300000019660073
/bookmarks
/network-security.data
/tutor/
/el-get/
/eshell/
.tutor/
speed-type/
